.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  background-color: #0f0f0f;
  z-index: 11;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.logo__menu {
  height: 24px;
  margin-right: 1rem;
  cursor: pointer;
}
.logo__img {
  height: 24px;
  cursor: pointer;
}
.logo__title {
  font-size: 22px;
  letter-spacing: -2px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.search, .search__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__form {
  height:  40px;
  width: 572px;
  font-size: 16px;
  margin-left: 32px;
  border-radius: 30px;
  border: 1px solid #303030;
  overflow: hidden;
}
.search__form__input {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  background-color: #121212;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.search__form__input::placeholder {
  font-size: 16px;
}
.search__form__btnIcon {
  height: 40px;
  width: 64px;
  border: none;
  background-color: #222222;
  cursor: pointer;
}
.search__form__icon {
  height: 24px;
}
.search__btnMicrofono {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  background-color: #181818;
  margin-left: 8px;
  border: none;
  cursor: pointer;
}
.search__btnMicrofono:hover {
  background-color: #222222;
}
.search__microfono {
  height: 24px;
  width: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons__create, .button__notifications {
  margin-inline: 12px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.buttons__avatar {
  margin: 12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}